<div class="titre">
<h2>SUBTITLE ...</h2>
<p class="linkv">VIDEOS</p>
<p class ="linkvi">ALL VIDEOS</p>
<div class="image">
  <div class="image1"><%= image_tag "video-like-a-rose-530x300.jpg" , alt:"Ashley Monroe" %>  <p>Like a Rose - Ashley Monroe</p> </div>

  <div class="image2"><%= image_tag "video-big-love-550-530x300.jpg" , alt:"Photo de Carrie Rodriguez" %> <p>Big Love - Carrie Rodriguez</p></div>

  <div class="image3"><%= image_tag "video-waitin-on-june-530x300.jpg",alt:"Photo de Holly Williams", float:"right" %> <p>Waiting On June - Holly Williams</p></div>
</div>
  <h3>
  UPCOMING GIGGS
</h3>
</div>
<div class="tableau">
  <ul>
    <li class="month">SEP</li>
    <li class="day">14</li>
    <li class="city">Nashville, TN</li>
    <li class="place">The Bluebird Cafe</li>
  </ul>
  <ul>
    <li class="month">SEP</li>
    <li class="day">14</li>
    <li class="city">Nashville, TN</li>
    <li class="place">The Bluebird Cafe</li>
  </ul>
  <ul>
    <li class="month">SEP</li>
    <li class="day">14</li>
    <li class="city">Nashville, TN</li>
    <li class="place">The Bluebird Cafe</li>
  </ul>
  <ul>
    <li class="month">SEP</li>
    <li class="day">14</li>
    <li class="city">Nashville, TN</li>
    <li class="place">The Bluebird Cafe</li>
  </ul>
  <ul>
    <li class="month">SEP</li>
    <li class="day">14</li>
    <li class="city">Nashville, TN</li>
    <li class="place">The Bluebird Cafe</li>
  </ul>
</div>
<p id="view">VIEW ALL GIGGS</p>
<div
