<h6>NEWS</h6>
<div class="gauche">
  <h2 class:"titre_news"> Welcome to our redesigned website</h2>
  <h3 class="soustitren">BY BRODY VERCHER ON APRIL 1, 2015</h3>
  <p class="sousnews">Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500</p>

  <h2 class:"titre_news">New tour dates posted</h2>
  <h3 class="soustitren">BY BRODY VERCHER ON DECEMBER, 2014</h3>
  <p class="sousnews">Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500</p>

  <h2 class:"titre_news">History of Popular Music</h2>
  <h3 class="soustitren">BY BRODY VERCHER ON DECEMBER 15, 2014</h3>
  <p class="sousnews">Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son </p>

  <h2 class:"titre_news">Thanks for all your support, we couldn't do this without you</h2>
  <h3 class="soustitren">BY BRODY VERCHER ON DECEMBER 14, 2014</h3>
  <p class="sousnews">Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500</p>

  <h2 class:"titre_news">In Every Work of Genius We Recognize Our Own Rejected Thoughts</h2>
  <h3 class="soustitren">BY BRODY VERCHER ON DECEMBER 12, 2014</h3>
  <p class="sousnews">Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son </p>

  <h2 class:"titre_news">Morning Star Now Available!</h2>
  <h3 class="soustitren">BY BRODY VERCHER ON DECEMBER 9, 2014</h3>
  <%= image_tag"album-01.jpg" %>
  <p class="last">Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard</p>
</div>
<div class="droite">
  <input class="recherche" type="search" value="search...">
  <h4>LASTEST NEWS</h4>
    <h5>Welcome to our redesigned website</h5>
      <p>composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard </p>
        <p>APRIL 1, 2015</p>
    <h5>News tour dates posted</h5>
      <p>composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard </p>
        <p>DECEMBER 16, 2014</p>
    <h5>History of popular Music</h5>
      <p>composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard </p>
        <p>DECEMBER 15, 2014</p>
</div>
